.createQRCode {
  height: 100vh;
  background-color: #f5f5f5;
  overflow: scroll;
}

@media (max-width: 768px) {
  .createQRCode {
    height: calc(100vh - 80px);
    background-color: #f5f5f5;
    overflow: scroll;
  }
}
