.createQRCode {
  height: 100vh;
  background-color: #F5F5F5;
  overflow: scroll;
}

@media (max-width: 768px) {
  .createQRCode {
    height: calc(100vh-80px);
    background-color: #F5F5F5;
  }
  
}

