.pointList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  overflow: scroll;
}

.head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  height: 75px;
  background-color: #ececec;
  border-radius: 10px;
  margin-top: 50px;
}

.barcode {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #006c3a;
  width: 92px;
  height: 92px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.head p {
  text-align: center;
}

.label {
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 4px;
}

.value {
  font-weight: 800;
  font-size: 20px;
}

.history {
    width: 350px;
    margin-top: 25px;
}

