.flyerPreview {
  margin-top: 2rem;
}

.flyerPreview > p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1.1rem;
}

.flyer {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.label {
  font-size: 14px;
  font-weight: 400;
}

.name {
  font-weight: 700;
  font-size: 16px;
  margin-top: 0.3rem;
}

.content {
  display: flex;
}

.content img {
  width: 113px;
  height: 138px;
}

.input input{
  width: 3rem;
  height: 30%;
  margin: 3.5rem 0;
}

.hashtag {
  margin-top: 9px;
}

.hashtag > * {
  margin-right: 6px;
}