.flyerPreview {
  margin-top: 2rem;
  padding: 0 20px;
}

.flyerPreview > p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1.1rem;
}

.flyer {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.label {
  font-size: 14px;
  font-weight: 400;
}

.input > label {
  font-size: 14px;
  font-weight: 400;
  margin-right: 1rem;
}

.name {
  font-weight: 700;
  font-size: 16px;
  margin-top: 0.3rem;
}

.content {
  display: flex;
}

.content img {
  width: 113px;
  height: 138px;
}

.input {
  display: flex;
  align-items: center;
}

.hashtag {
  margin-top: 9px;
}

.hashtag > * {
  margin-right: 6px;
}
