.qrcode {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 2rem;
}

.name {
  display: inline-block;
  background-color: green;
  display: inline-block;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
}

.name h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.scan {
  position: absolute;
  border-radius: 100%;
  background-color: white;
  width: 5rem;
  height: 5rem;
  z-index: 999;
  left: 50%;
  transform: translate(-50%, -70%);
  filter: drop-shadow(0 0 1px black);
}

.scan p {
  position: absolute;
  border-radius: 100%;
  background-color: green;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: auto 0;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.qr {
  position: relative;
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 1rem;
  color: black;
}

.info {
  padding: 0 0 1rem 0;
  margin: 2rem 0;
  text-align: center;
  border-bottom: 1px solid #e9ecef;
}
