.cardContent {
  display: flex;
  align-items: center;
}

.info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
  color: #006c3a;
  font-weight: 800;
  font-size: 12px;
  margin-bottom: 7px;
}

.value {
  font-weight: 800;
  font-size: 14px;
}
