.citizenPage {
  overflow: scroll;
  height: 100vh;
}

.contents {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.userInfo {
  display: flex;
  justify-content: space-between;
}

.username {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

.points {
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 6px;
}

.points > span {
  color: #006c3a;
}

.catchphrase {
  font-weight: 700;
  font-size: 16px;
}

.camera {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: #E1F4EB;
}

.camera:hover {
  cursor: pointer;
}

.effect {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}

.tree {
  margin: 0 auto;
}

.plantedTree {
  position: relative;
  bottom: 0px;
  right: 50px;
  display: inline-block;
}
.plantedTree p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  right: -10px;
  font-weight: 800;
  font-size: 16px;
  border-radius: 100%;
  background-color: #e1f4eb;
  width: 24px;
  height: 24px;
  color: #006c3a;
}

.card {
  background-color: #f9f9f9;
  border-radius: 9px;
  padding: 16px;
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: 14px;
}

.cardContents {
  display: flex;
  justify-content: space-between;
}

.cardContents > div {
  margin-right: 10px;
}

.treeImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .contents {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }

  .contents {
    padding: 0 20px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }
  .title {
    font-weight: 800;
    font-size: 14px;
    text-align: start;
    margin-bottom: 5px;
  }
}
