@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "NanumSquare", sans-serif;
  font-style: normal;
}

.backdrop {
  /* background-color: rgba(0, 0, 0, 0.7); */
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 767px) {
  /* 모바일 */
  .modal {
    position: fixed;
    z-index: 9;
    width: 100vw;
    bottom: 0;
    height: 65vh;
    padding-top: 40px;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.2);
    overflow: scroll;
  }
  .modalOne {
    position: fixed;
    z-index: 7;
    width: 100vw;
    bottom: 0;
    height: 240px;
    padding-top: 40px;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.2);
    overflow: scroll;
  }
}

@media (min-width: 768px) {
  .modal {
    position: fixed;
    z-index: 9;
    width: 768px;
    bottom: 0;
    left: calc(50% - 384px);
    height: 65vh;
    padding-top: 40px;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.2);
    overflow: scroll;
  }
  .modalOne {
    position: fixed;
    z-index: 7;
    width: 768px;
    bottom: 0;
    left: calc(50% - 384px);
    height: 240px;
    padding-top: 40px;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.2);
    overflow: scroll;
  }
}

.modal-enter-active {
  animation: moveUp 0.3s ease-out forwards;
}

.modal-exit-active {
  animation: moveDown 0.3s ease-out forwards;
}

@keyframes moveUp {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0%);
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    transform: translate(0, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(0, 100%);

    opacity: 0;
  }
}

.button {
  height: 4rem;
  width: 10rem;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: skyblue;
  color: #eee;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
}
