.createQRCode {
  padding: 48px 20px 0px 20px;
  overflow: scroll;
  height: 100vh;
}

.flyer {
  margin-top: 2rem;
}

.flyer button {
  font-weight: 700;
  font-size: 13px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header > p {
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
}

.cancel {
  margin-right: 1rem;
  font-weight: 400;
  font-size: 18px;
}

.create {
  font-weight: 800;
  font-size: 18px;
}

.create:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .createQRCode {
    padding: 48px 20px 0px 20px;
    overflow: scroll;
    height: calc(100vh - 80px);
  }
}
