.qrItem {
  margin-bottom: 40px;
}

.qrItem > p {
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 25px;
}

.qrItem li {
  list-style: none;
}

.li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.li:hover {
  background-color: #b7b7b730;
  cursor: pointer;
}

.item {
  flex-grow: 1;
}

.item:nth-child(1) {
  flex-grow: 9;
}

.link {
  display: flex;
}

.linkItem {
  flex-grow: 1;
}

.info{
  align-self: center;
}

.linkItem:nth-child(1) {
  flex-grow: 1;
}

.linkItem:nth-child(2) {
  flex-grow: 6;
}

.img {
  margin: 0 18px 0 0;
}

.img img {
  width: 45px;
  height: 45px;
}

.id {
  font-weight: 700;
  font-size: 18px;
}

.title {
  font-weight: 400;
  font-size: 12px;
}

.action {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.action > span {
  font-weight: 700;
  font-size: 24px;
  color: #006c3a;
  align-self: center;
}
.action > img {
  position: relative;
}

@media (max-width: 768px) {
  .img {
    margin: 0 0 0 2px;
  }
  .action {
    justify-content: space-between;
  }
}
