.qrList {
  padding: 20px;
  overflow: scroll;
}

hr {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 18px;
}

.header > p {
  font-weight: 800;
  font-size: 18px;
  align-self: center;
}

.header a {
  border-radius: 26px;
  background: #e1f4eb;
  padding: 7px 14px;
  font-weight: 700;
  font-size: 14px;
  align-self: center;
}

.header a:hover {
  background-color: #006c3a;
  color: white;
}

.contents {
  margin-top: 36px;
  position: relative;
}

.contents > label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.ptlabel {
  font-weight: 700;
  font-size: 15px;
}

[type="checkbox"] {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid gray;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
}

[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}

[type="checkbox"]:checked {
  background-color: #006c3a;
  border-color: #006c3a;
}

[type="checkbox"]:checked::before {
  background-color: white;
  left: 1em;
}

[type="checkbox"]:disabled {
  border-color: lightgray;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="checkbox"]:disabled:before {
  background-color: lightgray;
}

[type="checkbox"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

[type="checkbox"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) solid #006c3a;
}

[type="checkbox"]:enabled:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}

@media (min-width: 767px) {
  .contents > label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    padding-right: 15px;
  }
}