.qrList {
  padding: 20px;
  overflow: scroll;
}

hr {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 18px;
}

.header > p {
  font-weight: 800;
  font-size: 18px;
  align-self: center;
}

.header a {
  border-radius: 26px;
  background: #e1f4eb;
  padding: 7px 14px;
  font-weight: 700;
  font-size: 14px;
  align-self: center;
}

.header a:hover {
  background-color: #006c3a;
  color: white;
}

.contents {
  margin-top: 36px;
}
